# Ignore model checkpoints and weights
checkpoint/
*.pth
*.pt
*.ckpt

# Ignore compressed files
.gz*

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.venv/
env/
venv/